
:root {
  --paper: oklch(7 0 0);
  --ink: color-mix(in oklab, var(--color) 5%, black);
  --font: 100%/1.5 system-ui;
  --space: clamp(6px, 6px + 2vw, 15px);
  --line: 1px solid;
  --container: 1280px;
}


body {
  background: var(--paper);
  color: var(--ink);
  font: var(--font);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  padding: var(--space);
  border: var(--line);
  max-width: fit-content;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  background: var(--ink);
  color: black;
  transform: translateY(-5px);
}


header {
  padding: calc(var(--space) * 2);
  text-align: center;
  background: rgb(240, 199, 146);
}

main {
  max-width: var(--container);
  margin: 0 auto;
  padding: calc(var(--space) * 2);
  flex: 1;
}

footer {
  background: rgb(235, 209, 175);
  /* border-top: var(--line);  */
  padding: (var(--space));
  text-align: center;
  margin-top: auto;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(var(--space) * 2);
}

main > *:first-child {
  grid-column: span 2;
}

article {
  border: var(--line);
  padding: calc(var(--space) * 2);
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

article h2 {
  margin: 0;
  font-size: 1.5em;
}

article p {
  margin: 0;
  flex: 1;
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
  
  main > *:first-child {
    grid-column: span 1;
  }
}
